.image-wrap {
  max-width: 300px;
  margin: 80px auto;
  border-radius: 50%;
  border: 6px solid #000;
  overflow: hidden;
  position: relative;
  height: 220px;
  width: 220px;
}

.image-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
